/*HEADER*/


.header{
	width: 100%;
	height: 75px;
	background-color: black;
	border-bottom: solid 1px grey;
	position: fixed;
	z-index: 1000;
	margin: 0px;
}

.header nav{
	padding: 4px 0 8px 0;
}
.header nav ul{
	padding: 1px 0 8px 0;
}
.header nav a {
	color: white;
	font-family:   'Poiret One', cursive;
	font-size: 20px;
	height: 100%;
	margin: 0px;
	
	
}
.header nav ul a:hover {
	height: 100%;
	color: white;
	
	margin: 0px;
	background-color: darkred;
}

.icono2{
	width: 90px;
	height: 90px;
	margin: 0 0 0 90%;
}

.icono2:hover{
	-webkit-transform:scale(1.1);
	
	
}

.header navbar-brand{
	width: 90px;
	height: 90px;
	margin: 0 0 0 100%;
}



/*INICIO*/

.body{
	background-color: #fafafa;
}


#home {
	background-image: url(img/fondocontacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 0px;
	text-align: justify;
}

#home h1{
	font-size: 60px;
	color: white;
	font-family: 'Poiret One', cursive;
	
	
}

#home p{
	color:beige;
	text-align: justify;
	

	
	
}


#jumboobjetivos{
	width: 90%;
	height: 10%;
	background-color: rgba(0,0,0,0.9);
	color: white;
	margin: 100px 5% 0 5%;
	
	
}

#jumboobjetivos ul li{
	margin: 25px;
}
#jumboobjetivos ul{
	list-style: none;
	
}



#jumbosm{
	width: 60%;
	height: 60%;
	background-color: rgba(0,0,0,0.9);
	
	color: white;
	margin: 110px 20% 0 20%;
	
}

.meinicio{
	 width: 30%; 
     height: 30%; 
     border: 2px solid white; 
     
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius:  100% 100% 100% 100%;
	 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
	margin: 0px 35% 20px 35%;
}

#espanol{
	width: 40px;
	height: 40px;
	margin:2px 2px 0 90%;
	filter: grayscale(90%);

}
#ingles{
	width: 40px;
	height: 40px;
	
	margin: 2px 90% 0 2px;
	
}
#english{
	display: none;
}

#jumbocontenido{
	width: 60%;
	height: 60%;
	background-color: rgba(0,0,0,0.9);
	
	color: white;
	margin: 110px 20% 50px 20%;
	
}

.galeria{
	width: 100%;
	height: 100%;
	filter: grayscale(90%);
}

.galeria:hover{
	-webkit-transform:scale(1.1);
	filter: grayscale(90%);
	
}

.galery {
	background-color: transparent;
	border: none;
}


.titulo{
	text-align: center;
	color: black;
	font-family:  'Poiret One', cursive;
	font-size: 65px;
	
	
}

/*HR*/

.separacion{
	width: 70%;
	border: 0.7px dashed grey;
	
}

.rojo{
	width: 80%;
	height: 0.3px;
	background-color: #E74C3C;
}


/*CONCEPTOS*/


#conceptos{
	
	width: 100%;
	height: 550px;
	
	text-align: center;
	margin-top: 100px;
}


#conceptos #comp{
	height: 100%;
	width: 33%;
}

#conceptos #des{
	height: 100%;
	width: 33%;
	
}



#conceptos #esp{
	width: 33.3%;
	height: 400px;
	background-color: rgba(250,250,250,0.8);
}


.text{
	margin-top: 50px;
	color: black;
	display: none;
}



#conceptos button{
	margin: 5px;
	width: 120px;
	height: 60px;
	margin-left: 5px;
	padding: 0px;
	margin-right: 0px;
}

.info{
	color: grey;
	font-size: 12px;
	text-align: center;
	margin: auto;
}

#cerrar{
	margin-top: 5px;
	display: none;
	
	
}


#conceptos #esp button{
	width: 40px;
	height: 40px;
}


/*ENTREVISTAS*/

#entrevistasbody{
	text-align: center;
	margin-top: 100px;
	width: 100%;
	height: 100%;
	
}

#entrevistasbody #titulo{
	text-align: center;
	color: white;
	font-family: 'Poiret One', cursive;
	font-size: 65px;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 70px;
	
}






.parallax3{ 
   
    background-image: url("img/fondocontacto.jpg");
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}





.fondoent{
	display: none;
	margin-top: 0px;
	height: auto;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	border-bottom: solid 1px white;
	border-top: solid 1px white;
	
}

.nombreent{
	color: #E74C3C;
	font-family: 'Poiret One', cursive;
}

.subent{
	font-size: 15px;
	color: white;
	
	
}

.titent{
	font-size: 25px;
	color: white;
	
	
}


.cuerpent{
	font-size: 15px;
	color: white;
	text-align: justify;
	
}

.entclose{
	background-color: transparent;
	border: none;
	margin: 20px;
	
}

.seleccion {
     width: 80%; 
     height: 80%; 
     border: 2px solid black; 
   
   
     -moz-border-radius: 0 100% 0 0;
     -webkit-border-radius: 0 100% 0 0;
     border-radius:  100% 100% 100% 100%;
	
	
	
	
	 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: grayscale(90%);
	
	
}

.seleccion:hover{
	-webkit-transform:scale(1.1);
	filter: none;
	
}

.selecciontext{
	width: 80%;
	color: white;
	background-color: rgba(0,0,0,0.9);
	margin: 40px 10% 0 10%;
	
	
}

#conjseleccion{
	margin: 10% 0 10% 0;
}







/*BUSQUEDA LABORAL*/

#busqlab{
	margin-top: 100px;
}

.carruselxl{
	width: 60%;
	height: 40%;
	margin: 2% 20% 2% 20%;
	
}

.carruselxs{
	width: 60%;
	height: 40%;
	margin: 2% 20% 2% 20%;
	
	
}

.textbl{
	width: 60%;
	height: 40%;
	margin: 2% 20% 2% 20%;
	
}



#ejcv{
	width: 30%;
	height: 50px;
	margin: 15px 35% 15px 35%;
}

#carta{
	width: 30%;
	height: 50px;
	margin: 15px 35% 15px 35%;
}

#busqlab p{ 
	text-align: justify;
	margin-left: 45px;
}
#consj{
	width: 70%;
	
	margin: 5% 15% 5% 15%;
}
#busqlab #consj p{
	text-align: justify;
}
#busqlab #consj ul{
	text-align: justify;
}




/*CONTACTO*/

#contactme{
	background-color: rgba(0,0,0,0.7);
	width: 33.3%;
	height: 520px;
	margin-left: 33.3%;
	margin-right: 33.3%;
	padding: 0px;
	padding-top: 5px;
	
	
}

.display-3{
	text-align: center;
	color: white;
	font-family:  'Poiret One', cursive;
	font-size: 55px;
	
}


.titcont{
	color: white;
	font-family:  'Julius Sans One', sans-serif;
	font-size: 15px;
	
	
}


#inputname{
	background-color: rgba(0,0,0,0.5);
	width: 80%;
	border: 2px solid grey;
	color: white;
}

#inputEmail{
	background-color: rgba(0,0,0,0.5);
	width: 80%;
	border: 2px solid grey;
	color: white;
	
}

#msjcontact{
	background-color: rgba(0,0,0,0.5);
	width: 80%;
	border: 2px solid grey;
	height: 110px;
	color: white;
}


#msjenviado{
	display: none;
	color: grey;
	margin-left: 20px;
	margin-bottom: 10px;
}

#enviarmsj{
	width: 85px;
	height: 40px;
	background-color: #CD5C5C;
	color: white;
	border: 0px;
	margin: 20px;
	margin-left: 5px;
	
}
#enviarmsj:hover{
	background-color: #C0392B;
}

#contacto{
	width: 100%;
	height: 600px;
	background-image: url(img/fondocontacto.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 100px 0 0 0;
}
form{
	text-align: justify;
	margin-left: 15%;
}





/*FOOTER*/

.footer{
	
	width: 100%;
	height: 100px;
	background-color: white;
	position: absolute;
	border-top: 3px solid darkred;
	text-align: center;
		
	
}

.footer ul{
	height: 100%;
	height: 100%;
	
	list-style: none;
	margin: 0px;
	padding-top: 19px;
	padding-bottom: 18px;
}



.footer a{
	color:black;
	
}

.iconos{
	width: 30px;
	height: 30px;
}


.footer h1{
	color: black;
	font-family: 'Kaushan Script', cursive;
	margin: 5% 0 0% 0;
	

}




.error{
	color: red;
clear: both;
}
   